/* geral */

* {
  font-family: "Inter", sans-serif;
}

:root {
  --neutral: #ffffff;
  --default: #425dc7;
  --default-dark: #142159;
  --neutral-default: #333333;
  --neutral-medium: #555555;
  --neutral-dark: #000000;
  --feedback: #f03460;
}

html {
  color: var(--neutral-dark);
}

/* dashboard . desktop */

/* header */

.header {
  background-color: var(--default-dark);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

.header__mobile-menu {
  display: none;
}

.menu-1 {
  display: flex;
  width: 12px;
  height: 1.5px;
  margin-bottom: 6px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-2 {
  display: flex;
  width: 18px;
  height: 1.5px;
  margin-bottom: 6px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle .menu-1 {
  transform-origin: 0% 0%;
}

#menuToggle .menu-2 {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ .menu-1 .menu-2 {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}

#menuToggle input:checked ~ .menu-1 {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ .menu-2 {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: none;
  position: absolute;
  width: 80vw;
  height: 110vh;
  margin: -50px 0 0 -50px;
  padding: 70px 50px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.accordion {
  max-width: 250px;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #333333;
  cursor: pointer;
  position: relative;
  transition: ease 0.5s;
  white-space: nowrap;
}

.accordion__link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
}

.accordion__label:hover {
  background: #f1f2f9;
  color: #425dc7;
}

.accordion__label:not(.disabled)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50024 9.74963L12.0002 14.2496L16.5002 9.74963' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  transition: ease 0.5s;
}

.accordion__content {
  display: none;
  border-left: 2px solid #d5d5d5;
  max-width: 224px;
  margin: 12px 30px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.menu__link {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  transition: all 0.3s ease;
}

.menu__link:hover {
  color: var(--default);
}

.menu__link:not(:last-child) {
  margin-bottom: 12px;
}

.accordion__input {
  display: none;
  opacity: 0;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.header__name {
  display: flex;
  gap: 12px;
  align-items: center;

  position: relative;
}

.header__wrapper {
  display: none;
}

.header__name-initials {
  color: var(--default);

  z-index: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.header__name-whole {
  color: var(--neutral);

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.header__name-circle {
  background-color: #f1f2f9;

  position: absolute;
  z-index: 0;
  border-radius: 50%;

  width: 32px;
  height: 32px;
  left: -5px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__nav-dropdown {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__nav-user-hover {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
}

.header__nav-name {
  color: var(--neutral);
  font-weight: 500;
  font-size: 14px;
}

.header__nav-hover {
  display: none;
  position: absolute;
  background-color: var(--neutral);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  padding: 24px 24px 16px 24px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  white-space: nowrap;
}

.header__nav-hover::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58579 1.41421L0 8H16L9.41421 1.41421C8.63317 0.633165 7.36684 0.633164 6.58579 1.41421Z' fill='white'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: -14px;
  right: 110px;
}

.header__nav-help-hover a,
.header__nav-user-hover a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header__nav-help__svg:hover {
  background-color: transparent;
}

.header__help-link:hover {
  background-color: #ddd;
  border-radius: 8px;
}

.header__nav-help-hover:hover .header__nav-hover {
  display: block;
  position: absolute;
  top: 52px;
  right: 132px;
}

.header__help-link,
.header__user-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.header-help-especialista {
  border-top: 1px solid #f1f2f9;
}

.header__user-data {
  display: flex;
  align-items: center;
}

.header-especialista {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--default);
}

.header__nav-id {
  color: var(--neutral);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-dropdown {
  display: flex;
  gap: 24px;
  align-items: center;
  position: relative;
}

.header__nav-hover-user {
  display: none;
  position: absolute;
  background-color: var(--neutral);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  padding: 24px 24px 16px 24px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  white-space: nowrap;
}

.header__nav-hover-user::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58579 1.41421L0 8H16L9.41421 1.41421C8.63317 0.633165 7.36684 0.633164 6.58579 1.41421Z' fill='white'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: -14px;
  right: 110px;
}

.header__nav-user-hover:hover .header__nav-user-hover {
  display: block;
  position: absolute;
  top: 40px;
  right: 100px;
}

/* main */

.main {
  display: flex;
}

/* sidebar */

.sidebar {
  background-color: var(--neutral);
  /* position: sticky; */
  top: 64px;
  left: 0;
  max-width: 244px;
  width: 100%;
  height: calc(100vh - 64px);
}

/* sidebar links */

.menu-group {
  display: flex;
  flex-direction: column;

  margin-bottom: 86px;
  margin-top: 16px;
  padding: 4px;
}

.menu-group__item {
  color: var(--neutral-default);
  display: flex;
  align-items: center;
  gap: 16px;
  width: 212px;
  height: 48px;
  padding: 8px 16px;
  margin: 2px;
  border-radius: 8px;

  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.menu-group__item--active {
  background: #f1f2f9;
  color: var(--default);
}

.menu-group__item:hover {
  background: #f1f2f9;
  color: var(--default);
}

.menu-group__list {
  display: flex;
  flex-direction: column;
}

.menu-group__link {
  display: flex;
  align-items: center;
  gap: 16px;

  white-space: nowrap;
}

/* sidebar - accordion */

.accordion {
  max-width: 250px;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background: #fff;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: #333333;
  cursor: pointer;
  position: relative;
  transition: ease 0.5s;
  white-space: nowrap;
}

.accordion__link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.accordion__label:hover {
  background: #f1f2f9;
  color: #425dc7;
}

.accordion__label:not(.disabled)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.50024 9.74963L12.0002 14.2496L16.5002 9.74963' stroke='%23333333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  transition: ease 0.5s;
}

.accordion__content {
  display: none;
  border-left: 2px solid #d5d5d5;
  max-width: 224px;
  margin: 12px 30px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.menu__link {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.3s ease;
}

.menu__link:hover {
  color: var(--default);
}

.menu__link:not(:last-child) {
  margin-bottom: 12px;
}

.accordion__input {
  display: none;
  opacity: 0;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

/* upsell */

.upsell {
  background: #f1f2f9;

  width: 212px;
  height: 176px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px 0 16px;
}

.upsell__text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.upsell__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 24px 16px 0 16px;
}

.upsell__button {
  background: #425dc7;
  color: var(--neutral);
  border-radius: 8px;
  padding: 8px 24px;
  width: 180px;
  height: 40px;

  margin: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);

  transition: all 0.3s ease;
}

.upsell__button:hover {
  background-color: #2e44a1;
}

/* main content */

.main-content {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f9;

  width: calc(100% - 244px);
}

/* main banner */

.main__banner {
  background: #425dc7;
  color: var(--neutral);
  border-radius: 8px;

  max-width: 1132px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 32px;
  margin: 16px 32px 24px 32px;
}

.main__banner-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.main__banner-text--wrapper {
  margin-left: 16px;
  gap: 6px;
  color: var(--neutral);
}

.main__banner-text--bold {
  color: var(--neutral);
}

.main__banner-text--bold {
  font-weight: bold;
}

.main__banner-button {
  color: var(--neutral);

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  border: 2px solid #ffffff;
  border-radius: 8px;

  padding: 8px 16px;

  transition: all 0.3s ease;
  white-space: nowrap;
}

.main__banner-button:hover {
  background-color: var(--neutral);
  color: #2e44a1;
}

/* main data */

.main__data {
  display: flex;
  flex-direction: column;
  margin: 0 32px 0 32px;
}

.main__data-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main__data-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.main__data-calendar {
  display: flex;
  gap: 8px;
}

.main__data-button {
  background-color: var(--neutral);
  border: 2px solid var(--neutral);
  border-radius: 8px;

  display: flex;
  gap: 4px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  padding: 8px 16px;

  transition: all 0.3s ease;
}

.main__data-button:hover {
  border: 2px solid var(--default);
}

.main__data-button--active {
  background: var(--default);
  border: 2px solid var(--default);
  color: var(--neutral);
}

.main__data-period {
  color: var(--neutral-medium);
  font-size: 12px;
  line-height: 16px;
}

.main__data-period-bold {
  color: var(--default);
  font-weight: 500;
}

/* main report */

.main__report {
  background: var(--neutral);
  border-radius: 8px;
  margin: 16px 32px 32px 32px;
}

.main__report-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px;
}

.main__report-header {
  display: flex;
  gap: 12px;
}

.main__report-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.main__report-tab {
  display: flex;
  gap: 24px;
}

.main__report-link {
  height: 34px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.tab-active {
  color: var(--default);
}

.tab-active::before,
.main__report-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--default);
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.main__report-link:hover:before,
.main__report-link:focus:before,
.main__report-link:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* tabs */
/* .report__tabs {
  border-bottom: 1px solid #eeeeee;
} */

input.main__report-link ~ .tab {
  display: none;
}

#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3 {
  display: block;
}

/* cards */

.main__cards {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.cards {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  margin-bottom: 48px;

  width: 340px;
  height: 72px;

  border: 2px solid #f1f2f9;
  border-radius: 12px;
}

.card__header {
  color: var(--neutral-medium);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.card__valor {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.content3-button {
  border-radius: 8px;
  max-width: 280px;
  width: 100%;
  height: 40px;
  border: 1px solid #999999;
  padding: 8px 16px;
  white-space: nowrap;

  font-size: 14px;
  line-height: 20px;

  color: #333333;

  display: flex;
  align-items: center;
}

/* chart */

.chart-container,
.chart-container-2 {
  display: flex;
  align-items: flex-end;
  max-width: 1084px !important;
  height: 250px !important;
}

.chart-container-2 {
  margin-top: 48px;
  width: 100%;
}

.chart-container-3 {
  max-width: 680px !important;
  height: 291px;
  margin-top: 24px;
}

.content3-wrapper {
  display: flex;
  margin-top: 16px;
  width: 100%;
}

canvas#myChart-3 {
  width: 100% !important;
}

/* ranking */
#report-3 {
  width: 100%;
}

.content-ranking {
  margin: 0 24px 0 64px;
  padding: 24px;

  border: 2px solid #f1f2f9;
  border-radius: 8px;

  max-width: 340px;
  width: 100%;
  height: 429px;
}

.ranking-scroll {
  border-bottom: 2px solid #f1f2f9;
  max-height: 244px;
  height: 100%;
  overflow-y: scroll;
  margin-top: 24px;
}

.content-ranking-text {
  display: flex;
  gap: 12px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.ranking-number {
  display: flex;
  justify-content: space-between;
  max-width: 24px;
  height: 24px;
}

.ranking-numbers {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.ranking-cell {
  max-width: 272px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.ranking-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ranking-numbers {
  display: flex;
}

.ranking-position {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #158f2e;
}

/* insights */

.main__insights {
  max-width: 1132px;
  padding: 16px 32px 32px 32px;

  background: var(--neutral);
  border-radius: 8px;

  margin: 16px 32px 32px 32px;
}

.insights-header {
  display: flex;
  gap: 12px;
  margin: 0 24px 32px 0px;
}

.main__insights-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.main__insights-text {
  color: var(--neutral-medium);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* insights . table */

.insights__table {
  display: flex;
  flex-direction: column;
}

.insights__table-row {
  display: flex;
  align-items: center;
  height: 56px;
}

.insights__table-row:nth-of-type(even) {
  background: #f1f2f9;
}

.insights__table-row:nth-of-type(odd) {
  background: var(--neutral);
  border-radius: 8px;
}

.js-insights__table {
  margin-top: 4px;
}

.table__right {
  max-width: 368px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.js-insights-table {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.insights-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.insights-right {
  max-width: 368px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.insights__table-row:not(.insights__table-header) {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.insights__table-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  line-height: 16px;
  padding-right: 36px;
  margin-top: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
}

.table-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #425dc7;
}

.table-image {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.table-product {
  font-size: 12px;
  line-height: 16px;
  max-width: 540px;
  width: 100%;

  color: #333333;
}

.table-order {
  font-size: 12px;
  line-height: 16px;

  color: #333333;
  white-space: nowrap;
}

.table-department {
  max-width: 75px;
  width: 100%;
  font-size: 12px;
  line-height: 16px;

  color: #333333;
  white-space: nowrap;
}

.table-value {
  font-size: 12px;
  line-height: 16px;

  color: #333333;
  white-space: nowrap;
}
/* insights . dropdown */

.reveal {
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.table__mobile {
  display: none;
}

@media screen and (max-width: 1344px) {
  /* rules */
}

@media screen and (max-width: 700px) {
  .main-content {
    width: calc(100vh - 64px);
  }

  .header {
    max-width: 100vw;
  }

  .main-content {
    max-width: 100vw;
  }

  .sidebar {
    display: none;
  }

  .header__mobile-menu {
    display: block;
  }

  .header__nav-id {
    display: none;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .header__name {
    position: relative;
    z-index: 0;
  }

  .main__banner-text--wrapper {
    width: 241px;
  }

  .main__banner-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .main__banner-button {
    display: none;
  }

  .main__data-button {
    white-space: nowrap;
    font-size: 12px;
    line-height: 16px;
  }

  .main__data-period {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 16px;
  }

  .main__report-header {
    font-size: 20px;
    line-height: 24px;
  }

  .main__report-link {
    font-size: 14px;
    line-height: 20px;
  }

  .card__header {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
  }

  .card__valor {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
  }

  .main__cards {
    overflow-x: scroll;
    justify-content: flex-start;
    margin-bottom: 24px;
  }

  .cards {
    width: 196px;
    margin-bottom: 24px;
  }

  .main__data-calendar {
    overflow-x: scroll;
  }

  .main__data-calendar::-webkit-scrollbar,
  .main__cards::-webkit-scrollbar {
    display: none;
  }

  .main__insights-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .insights__table {
    display: none;
    overflow-x: scroll;
  }

  .insights__table-row .table-header {
    display: none;
  }

  .insights__table-row {
    width: 296px;
    height: 96px;
  }

  .header__nav-help-hover:hover .header__nav-hover {
    display: block;
    position: absolute;
    top: 52px;
    right: 30px;
  }

  .table__mobile {
    display: block;
    margin: 0 auto;
  }

  .table__mobile-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .insights__table-row-mobile {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
  }

  .insights__table-row-mobile:nth-of-type(even) {
    background-color: var(--neutral);
    background: #f1f2f9;
    border-radius: 8px;
  }

  .insights__table-row-mobile:nth-of-type(odd) {
    background-color: var(--neutral);
  }

  .table__mobile-top {
    display: flex;
    margin: 8px;
    gap: 16px;
    align-items: center;
  }

  .table__mobile-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px;

    font-size: 12px;
    line-height: 20px;
  }

  .table-img-mobile {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

  .accordion {
    background: none;
  }

  .menu__link {
    font-size: 12px;
  }

  .header {
    display: flex;
  }

  #menu {
    display: block;
    padding: 9vh 20px 20px 40px;
  }

  .chart-container {
    max-width: 278px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content3-wrapper {
    flex-direction: column;
  }
}
